*.lock
*.package.cache
*.package.cache.lock
*.sqlite3
*.hi
*.dyn_hi
*.pantry-write-lock
*.cache
*.h
*.o
*.dyn_o
*.so
*.a
*.conf
*.hs
*setup-config
*build-lock
*lamfun
*exe-lamfun
*lib
*stack-cabal-mod
*stack-setup-config-mod
*LICENSE
